<?xml version="1.0"?>
<config>
    <modules>
        <Synotive_Table>
            <version>1.1.0</version>
        </Synotive_Table>
    </modules>
    
    <admin>
        <routers>
			<synotivetable>
				<use>admin</use>
				<args>
					<module>Synotive_Table</module>
					<frontName>synotivetable</frontName>
				</args>
			</synotivetable>
        </routers>
    </admin> 
    
    <global>
        <models>
            <synotivetable>
                <class>Synotive_Table_Model</class>
                <resourceModel>synotivetable_mysql4</resourceModel>
            </synotivetable>
            <synotivetable_mysql4>
                <class>Synotive_Table_Model_Mysql4</class>
                <entities>
                    <method>
                        <table>synotive_table_method</table>
                    </method> 
                    <rate>
                        <table>synotive_table_rate</table>
                    </rate>  
                </entities>
            </synotivetable_mysql4>   
        </models>      
                     
        <resources>
            <synotivetable_setup>
                <setup>
                    <module>Synotive_Table</module>
                    <class>Synotive_Table_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </synotivetable_setup>
            
            <synotivetable_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </synotivetable_write>
            
            <synotivetable_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </synotivetable_read>
        </resources>

        <blocks>
            <synotivetable>
                <class>Synotive_Table_Block</class>
            </synotivetable>
        </blocks>
        
        <helpers>
            <synotivetable>
                <class>Synotive_Table_Helper</class>
            </synotivetable>
        </helpers>
        
        <events> 
            <sales_quote_config_get_product_attributes>
                <observers>
                    <synotivetable>
                        <class>synotivetable/observer</class>
                        <method>addProductAttributes</method>
                    </synotivetable>
                </observers>
            </sales_quote_config_get_product_attributes>                         
         </events>              
    </global>
    
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <synotivetable translate="title" module="synotivetable">
                        <title>All in One Shipping</title>
                        <sort_order>850</sort_order>
                        <action>synotivetable/adminhtml_method</action>
                    </synotivetable>
                </children>
            </sales>
        </menu>      
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <synotivetable>
                                    <title>All in One Shipping</title>
                                </synotivetable>
                            </children>
                        </sales>
			            <system>
                            <children>
                                <config>
                                    <children>
                                        <carriers>
                                            <children>
                                                <synotivetable>
                                                    <title>All in One Shipping</title>
                                                </synotivetable>
                                            </children>
                                        </carriers>
                                    </children>
                                </config>
                            </children>
                        </system>
                     </children>
                </admin> 
			</resources>
		</acl>
        <translate>
            <modules>
                <Synotive_Table>
                    <files>
                        <default>Synotive_Table.csv</default>
                    </files>
                </Synotive_Table>
            </modules>
        </translate> 		
    </adminhtml>

<default>
        <carriers>
            <synotivetable>
                <active>0</active>
                <title>All in One Shipping</title>
                <sort_order>100</sort_order>
                <sallowspecific>0</sallowspecific>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <model>synotivetable/carrier_table</model>
                <allow_promo>1</allow_promo>
                <numeric_zip>1</numeric_zip>
                <ignore_virtual>1</ignore_virtual>
                <after_discount>0</after_discount>
                <including_tax>0</including_tax>
                <dont_split>0</dont_split>
                <showmethod>0</showmethod>                
            </synotivetable>
        </carriers>
</default> 
</config>
